@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

:root
{
    scroll-behavior: smooth;
}
body 
{
    --text-color: #F5F500;
    background-color: #5100A8;
    font-size: larger;
    opacity: 1;
    color: var(--text-color);
    font-family: 'Train One', cursive;
    text-align: center;
    margin: 0;
}
a:visited
{
    color:inherit;
}
a:link
{
    color: inherit;
}
header
{
    border-bottom: solid black 5px;
    top: 0;
    position:fixed;
    width: 100%;
    background-color: #8819FF;
}
#MenuHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
}
ul
{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
#LogoPng
{
    animation: rotation 3s infinite linear;
}
@keyframes rotation
 {
    from
    {
        transform: rotateY(0deg);
    }
    to
    {
        transform: rotateY(360deg);
    }
}
section
{
    margin-top: 150px;
}