@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Template */

:root
{
    scroll-behavior: smooth;
}
html{
    height: 100%;
}
body 
{
    --yellow-color: #EDE428;
    color: var(--yellow-color);
    font-family: "Mouse Memoirs";
    opacity: 1;
    text-align: center;
    margin: 0;
}
a
{
    text-decoration: none;
}
a:visited
{
    color:inherit;
}
a:link
{
    color: inherit;
}
header
{
    background-color: #5100A8;
    top: 0;
    position:fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    font-size: 30px;
    
}
#MenuHeader
{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-left: 0;
    width: 100%;
}
ul
{
    list-style-type: none;
}
#login{
    position: fixed;
    right: 5px;
}
#disconnect{
    font-size: 20px;
}
.active{
    text-shadow: 0px 0px 9px yellow;
}
#LogoPng
{
    animation: rotation 7s infinite ease-in-out;
}
#LogoPng a{
    height:100%;
}
@keyframes rotation 
{
    0%
    {
        transform: rotateY(0deg);
    }
    50%
    {
        transform: rotateY(720deg);
    }
    100%
    {
        transform: rotateY(720deg);
    }
}
#constructor, #sony, #microsoft, #nintendo, #sega, #administration, #administration-panel, #create-game, #create-support, #update-support, #modify-support, #modify-game{
    height: 100vh;
}
.first-element{
    padding-top: 200px;
    margin-bottom: 125px;
}
.margin-top-5{
    margin-top:5%
}
.margin-bottom-10{
    margin-bottom: 10%;
}
.back-arrow{
    font-size: 2.5rem;
    position: fixed;
    left: 50px;
    top: 250px;
}
.table-head{
    color: var(--yellow-color);
    border: #F6D91A solid 3px;
    background-color: #5100A8;
}

/* Page Accueil */

#container-content
{
    background: linear-gradient(#020024, #5100a8);
    height: fit-content;
}
#accueil-stream{
    width: 100%;
}
#stream-windows{
    margin-bottom: 120px;
}
#accueil-biblio
{    
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
h2
{
    font-size: 100px;
}
.game-selection{
    border: var(--yellow-color) solid 7px;
}
.game-selection-text{
    font-family: "Lato";
}
#button-biblio{
    background-color: #200055;
    border: #F6D91A solid 3px;
    box-shadow: 8px 8px 0 -3px #200055, 8px 8px 0 0 #F6D91A;
}
#bio-projets{
    background-color: #040010;
}
.bio-text-left{
    text-align: justify;
}
.h3-bio{
    font-size: 50px;
}
#bio-matsashi-picture{
    width: 60%;    
    padding: 0;
    border: #F6D91A solid 7px;
    box-shadow: 20px 20px 0 -7px #040010, 20px 20px 0 0 #F6D91A;
}
#bio-trophy-picture{
    width: 60%;
    padding: 0;
}
#bio-handshake-picture{
    width: 70%;
    padding: 0;
    border: #F6D91A solid 7px;
    box-shadow: 20px 20px 0 -7px #040010, 20px 20px 0 0 #F6D91A;
}

/* Page Bibliothèque */

#search-form
{    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: #F6D91A solid 4px;
    box-shadow: 10px 10px 0 -4px #1a004c, 10px 10px 0 0 #F6D91A;
}
#search-bar-game{
    width: 30% !important;
    background-color: #1a004c;
    font-family: "Lato";
    color: #F6D91A;
    border: none;
}
#search-bar-game:focus{
    box-shadow: none !important;
}
#search-icon{
    background-color: #1a004c;
    color: #F6D91A;    
}
#search-icon:focus{
    box-shadow: none !important;
}

/* Page Sony */

#sony{
    background-color: #F5F5F5;
    color: #040010;
    font-family: "Lato";
}
#sony #button-biblio{
    background-color: #F5F5F5;
    border: #040010 solid 4px;
    box-shadow: 8px 8px 0 -4px #F5F5F5, 8px 8px 0 0 #040010;
}
.selected-console{
    border: #040010 solid 4px;
}

/* Page Microsoft */

#microsoft{
    background: linear-gradient(90deg, #01b1fd, #0742be);
    color: #040010;
    font-family: "Lato";
}

/* Page Nintendo */

#nintendo{
    background-color: #f5efd7;
    color: black;
}

/* Page Sega */

#sega{
    background-color: #3860ff;
}

/* Page Admin */

#administration .first-element{
    margin-bottom: 0;
}
#administration #search-form{
    border: none;
    box-shadow: none;
    font-size: 20px;
    font-family: "Lato";
}
#submit-admin-connexion, #submit-create-game{
    border: #F6D91A 3px solid;
    border-radius: 5%;
    background-color: transparent;
    color: #F6D91A;
    font-family: "Mouse Memoirs";
}

/* Page Admin Panel */

#administration-panel .first-element{
    margin-bottom: 15%;
}
.panel-icons{
    font-size: 4rem;
}
.panel-icons sub{
    font-size: 1.5rem;
    margin-left: -5%;
}

/* Page Admin Create Game & Support*/

#create-game .first-element, #create-support .first-element{
    margin-bottom: 0;
}

/* Page Admin Update Game */

#update-games .first-element{
    margin-bottom: 15%;
}
#update-game .name-game, .support-game{
    color: var(--yellow-color) !important;
}

/* Page Admin Update Support */

#update-support .name-support, .text-support{
    color: var(--yellow-color) !important;
}
#modify-support .first-element{
    margin-bottom: 0;
}